@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@font-face {
    font-family: font1;
    src: url('./assets/fonts/1.ttf');
}
@font-face {
    font-family: font2;
    src: url('./assets/fonts/2.ttf');
}
@font-face {
    font-family: font3;
    src: url('./assets/fonts/3.ttf');
}
@font-face {
    font-family: font4;
    src: url('./assets/fonts/4.ttf');
}

.row {
  margin-left: 10vw;
  margin-right: 10vw;
}

p {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  h1 {
    font-size: 1.6em;
  }
}

#titulo {
  margin-top: 3em;
  margin-bottom: 3em;
}

